<div class="list row">
    <div class="col-md-6">
      <h4>Lista de Veículos</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let veiculo of veiculos; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveVeiculo(veiculo, i)"
        >
          {{ veiculo.id }}
          {{ veiculo.modelo }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllVeiculos()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentVeiculo.id">
        <h4>Veículo</h4>
        <div>
          <label><strong>Id:</strong></label> {{ currentVeiculo.id }}
        </div>
        <div>
          <label><strong>Placa:</strong></label> {{ currentVeiculo.placa }}
        </div>
        <div>
            <label><strong>Chassi:</strong></label> {{ currentVeiculo.chassi }}
        </div>
        <div>
          <label><strong>Renavam:</strong></label> {{ currentVeiculo.renavam }}
        </div>
        <div>
          <label><strong>Modelo:</strong></label> {{ currentVeiculo.modelo }}
        </div>
        <div>
          <label><strong>Marca:</strong></label> {{ currentVeiculo.marca }}
        </div>
        <div>
          <label><strong>Ano:</strong></label> {{ currentVeiculo.ano }}
        </div>
  
        <a class="badge badge-warning" routerLink="/veiculos/{{ currentVeiculo.id }}">
          Editar
        </a>
      </div>
  
      <div *ngIf="!currentVeiculo">
        <br />
        <p>Por favor, clique em um veículo...</p>
      </div>
    </div>
  </div>