<div>
    <div *ngIf="currentVeiculo.id" class="edit-form">
      <h4>Veículo</h4>
      <form>
        <div class="form-group">
          <label for="id">Id</label>
          <input
            type="text"
            class="form-control"
            id="id"
            [(ngModel)]="currentVeiculo.id"
            name="id"
          />
        </div>
  
        <div class="form-group">
          <label for="placa">Placa</label>
          <input
          type="text"
            class="form-control"
            id="placa"
            [(ngModel)]="currentVeiculo.placa"
            name="placa"
          />
        </div>
  
        <div class="form-group">
            <label for="chassi">Chassi</label>
            <input
            type="text"
                class="form-control"
                id="chassi"
                [(ngModel)]="currentVeiculo.chassi"
                name="chassi"
            />
        </div>

        <div class="form-group">
            <label for="renavam">Renavam</label>
            <input
            type="text"
              class="form-control"
              id="renavam"
              [(ngModel)]="currentVeiculo.renavam"
              name="renavam"
            />
        </div>

        <div class="form-group">
            <label for="modelo">Modelo</label>
            <input
            type="text"
              class="form-control"
              id="modelo"
              [(ngModel)]="currentVeiculo.modelo"
              name="modelo"
            />
        </div>

        <div class="form-group">
            <label for="marca">Marca</label>
            <input
            type="text"
              class="form-control"
              id="marca"
              [(ngModel)]="currentVeiculo.marca"
              name="marca"
            />
        </div>

        <div class="form-group">
            <label for="ano">Ano</label>
            <input
            type="text"
              class="form-control"
              id="ano"
              [(ngModel)]="currentVeiculo.ano"
              name="ano"
            />
        </div>
        
      </form>

      <button class="badge badge-danger mr-2" (click)="deleteVeiculo()">
        Deletar
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateVeiculo()"
      >
        Atualizar
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentVeiculo.id">
      <br />
      <p>Não foi possível acessar esse veículo...</p>
    </div>
  </div>